<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <style>
        body         { padding-top:80px; }
    </style>
</head>
<body background="/images/nhl.jpeg" style="background-repeat: no-repeat;background-size: cover">
<div class="container">
    <div class="col-sm-6 col-sm-offset-3">

        <h1><span class="fa fa-sign-in"></span> NHL Game Predictor</h1>

        <!-- LOGIN FORM -->
        <form action="/" method="post">
            <div class="form-group">
                <label>Home Team</label>
                <select name="home" id = "myList">
                    <option value="1,New Jersey">New Jersey</option>
                    <option value="2,NY Islanders">NY Islanders</option>
                    <option value="3,NY Rangers">NY Rangers</option>
                    <option value="4,Philadelphia">Philadelphia</option>
                    <option value="5,Pittsburgh">Pittsburgh</option>
                    <option value="6,Boston">Boston</option>
                    <option value="7,Buffalo">Buffalo</option>
                    <option value="8,Montreal">Montreal</option>
                    <option value="9,Ottawa">Ottawa</option>
                    <option value="10,Toronto">Toronto</option>
                    <option value="12,Carolina">Carolina</option>
                    <option value="13,Florida">Florida</option>
                    <option value="14,Tampa Bay">Tampa Bay</option>
                    <option value="15,Washington">Washington</option>
                    <option value="16,Chicago">Chicago</option>
                    <option value="17,Detroit">Detroit</option>
                    <option value="18,Nashville">Nashville</option>
                    <option value="19,St Louis">St Louis</option>
                    <option value="20,Calgary">Calgary</option>
                    <option value="21,Colorado">Colorado</option>
                    <option value="22,Edmonton">Edmonton</option>
                    <option value="23,Vancouver">Vancouver</option>
                    <option value="24,Anaheim">Anaheim</option>
                    <option value="25,Dallas">Dallas</option>
                    <option value="26,Los Angeles">Los Angeles</option>
                    <option value="27,Phoenix">Phoenix</option>
                    <option value="28,San Jose">San Jose</option>
                    <option value="29,Columbus">Columbus</option>
                    <option value="30,Minnesota">Minnesota</option>
                    <option value="52,Winnipeg">Winnipeg</option>
                    <option value="53,Arizona">Arizona</option>
                    <option value="54,Vegas">Vegas</option>
                </select>
            </div>
            <div class="form-group">
                <label>Away Team</label>
                <select name="away" id="myList">
                    <option value="1,New Jersey">New Jersey</option>
                    <option value="2,NY Islanders">NY Islanders</option>
                    <option value="3,NY Rangers">NY Rangers</option>
                    <option value="4,Philadelphia">Philadelphia</option>
                    <option value="5,Pittsburgh">Pittsburgh</option>
                    <option value="6,Boston">Boston</option>
                    <option value="7,Buffalo">Buffalo</option>
                    <option value="8,Montreal">Montreal</option>
                    <option value="9,Ottawa">Ottawa</option>
                    <option value="10,Toronto">Toronto</option>
                    <option value="12,Carolina">Carolina</option>
                    <option value="13,Florida">Florida</option>
                    <option value="14,Tampa Bay">Tampa Bay</option>
                    <option value="15,Washington">Washington</option>
                    <option value="16,Chicago">Chicago</option>
                    <option value="17,Detroit">Detroit</option>
                    <option value="18,Nashville">Nashville</option>
                    <option value="19,St Louis">St Louis</option>
                    <option value="20,Calgary">Calgary</option>
                    <option value="21,Colorado">Colorado</option>
                    <option value="22,Edmonton">Edmonton</option>
                    <option value="23,Vancouver">Vancouver</option>
                    <option value="24,Anaheim">Anaheim</option>
                    <option value="25,Dallas">Dallas</option>
                    <option value="26,Los Angeles">Los Angeles</option>
                    <option value="27,Phoenix">Phoenix</option>
                    <option value="28,San Jose">San Jose</option>
                    <option value="29,Columbus">Columbus</option>
                    <option value="30,Minnesota">Minnesota</option>
                    <option value="52,Winnipeg">Winnipeg</option>
                    <option value="53,Arizona">Arizona</option>
                    <option value="54,Vegas">Vegas</option>
                </select>
            </div>
            <button type="submit" class="btn btn-warning btn-lg" style="display: block; margin: 0 auto;">Predict</button>
            <hr>
            <div class="form-group" id="result">
                <% if (locals.message) {%>
                    <label><%= message %></label>
                <% } else {%>
                    <label> Please click on <strong></strong> button after selecting teams from dropdown..</label>
                <% } %>
            </div>
        </form>

    </div>
</div>
</body>
</html>
